@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/Fonts/Open Sans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/Fonts/Open Sans/OpenSans-Medium.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/Fonts/Open Sans/OpenSans-SemiBold.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/Fonts/Open Sans/OpenSans-Bold.ttf");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("/Fonts/Open Sans/OpenSans-ExtraBold.ttf");
}
